@font-face {
	font-family: 'Emperors Scrawl';
	src: url('fonts/EmperorsScrawl.eot');
	src: url('fonts/EmperorsScrawl.eot?#iefix') format('embedded-opentype'),
		url('fonts/EmperorsScrawl.woff') format('woff'),
		url('fonts/EmperorsScrawl.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'digital display tfb';
	src: url('fonts/digitaldisplaytfb.eot');
	src: url('fonts/digitaldisplaytfb.eot?#iefix') format('embedded-opentype'),
		url('fonts/digitaldisplaytfb.woff') format('woff'),
		url('fonts/digitaldisplaytfb.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Mark My Words';
	src: url('fonts/MarkMyWords.eot');
	src: url('fonts/MarkMyWords.eot?#iefix') format('embedded-opentype'),
		url('fonts/MarkMyWords.woff') format('woff'),
		url('fonts/MarkMyWords.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Langdon';
	src: url('fonts/Langdon.eot');
	src: url('fonts/Langdon.eot?#iefix') format('embedded-opentype'),
		url('fonts/Langdon.woff') format('woff'),
		url('fonts/Langdon.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
