//Colors
$blue: #0072BC;
$orange: #E68924;
$red: #F33E42;
$light: #D2D2D2;
$dark: #221E20;

// Fonts
$script: 'Mark My Words';
$handwritten: 'Emperors Scrawl';
$block: 'Langdon';
$computer: 'digital display tfb';