//Colors
$blue: #0072BC;
$orange: #E68924;
$red: #F33E42;
$light: #D2D2D2;
$dark: #221E20;
$black: #060808;
$grey: #ADA69C;
$green: #30914F;
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);



// Fonts
$script: 'Mark My Words';
$handwritten: 'Emperors Scrawl';
$block: 'Langdon';
$computer: 'digital display tfb';
$reg: 'Open Sans';

$folderWidth: 975px;